PORT=8787
GEMINI_API_KEY=
APP_BUNDLE_ID=com.atelierprime.app
APP_APPLE_ID=
APPLE_ROOT_CA_PATHS=./certs/AppleRootCA-G3.cer,./certs/AppleRootCA-G2.cer,./certs/AppleIncRootCertificate.cer
NANO_BANANA_ALLOWED_PRODUCT_IDS=com.atelierprime.nanobanana.monthly
